<div class="contact-bg-image">
  <div class="contact-image-cover">
    <div class="thanks-box">
      <h1 class="contact-heading">お問い合わせフォーム</h1>
      <p class="thanks-text">
        この度は、お問い合わせをいただき誠にありがとうございます。<br>
        後ほど、担当者よりご連絡をさせていただきます。<br>
        今しばらくお待ちくださいますよう宜しくお願い申し上げます。
      </p>
    </div>
  </div>
</div>