// Place all the styles related to the admin::shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

textarea {
ã€€resize: none;
  width: 410px;
  height: 200px;
  // white-space: pre-wrap;
}