// Place all the styles related to the admin::shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// index画面
.shop-container > table {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 0 18px -6px #c49a6a;
}

.shop-container > table th, table td {
  padding: 14px 0;
  border-bottom: 1px solid #eee;
}

.shop-container > table th {
  padding: 10px 0;
  font-size: 14px;
  padding: 15px;
  background-color: #e8c59c;
  color: #fff;
}

.shop-container > table th:nth-child(1){
  width: 22%;
}

.shop-container > table th:nth-child(3) {
  width: 30%;
}

.shop-container > table th:nth-child(2),
.shop-container > table th:nth-child(4),
.shop-container > table th:nth-child(5) {
  width: 16%;
}


.shop-container > table tr {
  text-align: center;
  width: 20%;
  padding: 20px 0;
  background-color: #fff;
  color: #3a3a3a;
}

.shop-container > table tr:hover {
  background-color: #fff3b8;
}

// show画面
.show-main-image {
  margin-top: 20px;
  text-align: left;
  width: 100%;
}

.main-image {
  width: 670px;
  height: 400px;
}

.show-sub-image {
  width: 75%;
  padding: 10px 0;
  text-align: left;
}

.sub-image {
  width: 130px;
  height: 130px;
}

.shop-caption {
  font-size: 14px;
  color: #595960;
}

.caption-text {
  ont-size: 12px;
  color: #595960;
}

.shop-caption h5, .map-area h5, .shop-info h5 {
  color: #000;
  font-weight: bold;
  margin: 10px 0;
}

.shop-caption h5, .map-area h5 {
  padding-top: 15px;
}

.border-sm {
  width: 75%;
  float: left;
  margin: 10px 0;
	border: solid 1px #dee2e6 ;
}

.shop-info {
  width: 70%;
  float: left;
}

.shop-table th {
  font-size: 13px;
}

.shop-table td {
  font-size: 13px;
  color: #595960;
}

.shop-table tr {
  border-bottom: 1px solid #dfe2e7;
}

.map-area {
  width: 70%;
  margin-bottom: 30px;
}

#map {
  width: 670px;
  height: 350px;
}

// モバイル版対応
@media screen and (max-width: 600px) {
  // index画面
  .shop-container {
    width: 95%;
  }

  .shop-container > table th, table td {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
  }

  .shop-container > table th {
    padding: 6px 0;
    font-size: 13px;
    padding: 10px;
  }
  .shop-container > table td {
    padding: 6px 0;
    font-size: 12px;
    padding: 8px;
  }

  .shop-container > table tr {
    padding: 10px 0;
  }

  .shop-container > table th:nth-child(1){
    width: 18%;
  }

  .shop-container > table th:nth-child(2) {
    width: 14%;
  }

  .shop-container > table th:nth-child(5) {
    width: 21%;
  }

  .my-page-edit {
    width: 92%;
  }

  .edit-profile {
    width: 100%;
  }

  .edit-profile-btn {
    margin: 0 auto;
  }

  .admin-shop-text {
    font-size: 14px;
  }

  // show画面
    .shop-image {
    width: 90%;
    height: 150px;
    padding: 4px;
    border: 1px solid;
  }

  .shop-main {
    width: 90%;
    padding: 10px 0;
    margin: 0 auto;
    text-overflow: ellipsis;
    font-size: 14px;
  }
  
  // その他レスポンシブ情報は、member/shops.scssと共有
}