<h3>SWEETS -meguri- サイトからお問い合わせがありました。</h3>
<p>お問い合わせ内容は、下記の通りです。</p>

<p>-----------------------------------</p>

<h4>< お名前 ></h4>
<p><%= @contact.name %>様</p>

<h4>< メールアドレス ></h4>
<p><%= @contact.email %></p>

<h4>< タイトル ></h4>
<p><%= @contact.title %></p>

<h4>< お問い合せ内容 ></h4>
<p><%= @contact.message %></p>

<p>-----------------------------------</p>