// Place all the styles related to the member::reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//index画面
.review-btn-box {
  width: 70%;
  height: 60px;
  display: flex;
}

.review-btn {
  justify-content: center;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 3px;
  border: solid 1px #595960;
  font-size: 13px;
  background-color: #fce4d6;
}

.review-btn:hover {
  color: #000;
  background-color: #f5b2ac;
}

.review-box {
  width: 70%;
  padding: 20px;
  border-radius: 3px;
  border: solid 1px #e8c59c;
  margin: 15px 0;
}

.review-text {
  font-size: 13px;
  color: #595960;
}

.review-box-top{
  height: 30px;
  padding-bottom: 35px;
  margin-bottom: 10px;
  border-bottom: solid 1px #dee2e6;
}

.review-box-right {
  display: inline-block;
  float: right;
}

.review-edit-btn, .review-destroy-btn {
  padding: 4px 8px;
  border-radius: 3px;
  border: solid 1px #595960;
  font-size: 12px;
}

.review-edit-btn {
  background-color: #a3d6cc;
}

.review-destroy-btn {
  background-color: #ef857d;
}

.review-edit-btn:hover, .review-destroy-btn:hover {
  color: #000;
}

.review-edit-btn:hover {
  color: #fff;
  background-color: #2cb4ad;
}

.review-destroy-btn:hover {
  color: #fff;
  background-color: #ea5550;
}

.review-body-title {
  margin-bottom: 10px;
  border-bottom: solid 1px #dee2e6;
  display: inline-block;
  font-weight: bold;
  font-size: 16px;
}

.review-name {
  font-size: 12px;
  color: #595960;
}

.review-name:hover {
  color: #000;
}

// new画面
.border {
  width: 75%;
  margin: 0 auto;
　border: solid 2px #e8c59c;
}

.new-review-content {
  width: 70%;
  margin-top: 20px;
}

.new-review-rate, .new-review-body {
  margin-top: 20px;
}

.new-review-title-form {
  padding: 3px;
  width: 100%;
}

.new-review-body > textarea {
  padding: 3px;
  resize: none;
  width: 100%;
  height: 150px;
}

.new-review-btn {
  display: block;
  margin: 20px auto 20px;
  padding: 3px 50px;
}