// Place all the styles related to the member::shops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//index, search画面 (会員側）
.shop-container {
  width: 70%;
  margin: 0 auto;
  padding: 30px 20px;
}

.shop-top {
  margin-bottom: 10px;
  font-size: 18px;
}

.shop-text {
  display: inline-block;
  font-size: 14px;
}

.shop-box {
  display: flex;
}

.shop-image-box {
  flex: 25%;
  margin: 0 auto;
}

.shop-image {
  width: 240px;
  height: 180px;
  padding: 4px;
  border: 1px solid;
}

.shop-main {
  flex: 65%;
  text-overflow: ellipsis;
  font-size: 14px;
}

.shop-text {
  font-size: 14px;
}

.review-list > ul, li {
  list-style: none;
}

.review-list > li {
  display: inline-block;
}

.review-list > .review-list-item {
  font-size: 20px;
  color: #e8383d;
}

.new-review {
  display: flex;
  width: 100%;
  height: 70px;
  padding: 5px;
  text-overflow: ellipsis;
  border-radius: 3px;
  background-color: #fdede4;
}

.new-review-left {
  flex: 20%;
  text-align: center;
}

.profile-image {
  border-radius: 50%;
  margin-left: 14px;
  margin-bottom: 5px;
}

.review-name {
  font-size: 11px;
}

.new-review-right {
  flex: 80%;
  display: inline-block;
  padding-left: 10px;
}

.review-title {
  font-size: 12px;
  font-weight: bold;
}

.review-content, .no-review {
  font-size: 10px;
  color: #736d71;
}

.border {
  width: 75%;
  margin: 0 auto;
	border: solid 2px #e8c59c;
}

// show画面
.show-shop-container {
  width: 70%;
  margin: 0 auto;
  padding: 30px 20px;
}

.show-shop-top {
  margin-bottom: 10px;
}

.show-shop-name {
  font-size: 28px;
  padding-bottom: 20px;
}

.show-shop-container > .border, {
  width: 100%;
  margin: 10px auto;
	border: solid 2px #e8c59c;
}

.show-shop-top > .review-list {
  margin: 10px 0 20px 0;
  font-size: 15px;
}

.link-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-item1, .link-item2, .link-item3 {
  width: 33%;
  height: 45px;
  padding: 10px;
  border: solid 1px #e8c59c;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  background-color: #f8f4e6;
}

.link-item1:hover, .link-item2:hover, .link-item3:hover {
  background-color: #fff3b8;
}

.link-item-btn:hover {
  color: #000;
}

.show-main-image {
  margin-top: 20px;
  text-align: left;
  width: 100%;
}

.main-image {
  width: 670px;
  height: 400px;
}

.show-sub-image {
  width: 75%;
  padding: 10px 0;
  text-align: left;
}

.sub-image {
  width: 130px;
  height: 130px;
}

.shop-caption {
  font-size: 14px;
  color: #595960;
}

.caption-text {
  ont-size: 12px;
  color: #595960;
}

.shop-caption h5, .map-area h5, .shop-info h5 {
  color: #000;
  font-weight: bold;
  margin: 10px 0;
}

.shop-caption h5, .map-area h5 {
  padding-top: 15px;
}

.border-sm {
  width: 75%;
  float: left;
  margin: 10px 0;
	border: solid 1px #dee2e6 ;
}

.shop-info {
  width: 70%;
  float: left;
}

.shop-table th {
  font-size: 13px;
}

.shop-table td {
  font-size: 13px;
  color: #595960;
}

.shop-table tr {
  border-bottom: 1px solid #dfe2e7;
}

.map-area {
  width: 70%;
  margin-bottom: 30px;
}

#map {
  width: 670px;
  height: 350px;
}

// ranking画面
.ranking {
  text-align: center;
}

.fa-crown {
  font-size: 18px;
}

.ranking-number {
  font-size: 18px;
}

// モバイル版対応
@media screen and (max-width: 1000px) {
  .sub-image {
    width: 100px;
    height: 100px;
  }
}

// モバイル版対応
@media screen and (max-width: 600px) {
  // index画面
  .shop-container {
    width: 95%;
    margin: 0 auto;
    padding: 30px 20px;
  }

  .shop-box {
    display: block;
  }

  .shop-top {
    margin-bottom: 0;
    font-size: 18px;
  }

  .shop-image-box {
    text-align: center;
  }

  .shop-image {
    width: 90%;
    height: 150px;
    padding: 4px;
    border: 1px solid;
  }

  .shop-main {
    width: 90%;
    padding: 10px 0;
    margin: 0 auto;
    text-overflow: ellipsis;
    font-size: 14px;
  }

  .new-review-left {
    flex: 20%;
    text-align: center;
  }

  .profile-image {
    border-radius: 50%;
    margin-left: 14px;
    margin-bottom: 5px;
  }

  .new-review-right {
    flex: 80%;
    display: inline-block;
  }

  .review-title {
    font-size: 12px;
    font-weight: bold;
  }

  .review-content, .no-review {
    font-size: 11px;
    color: #736d71;
  }

  // show画面
  .show-shop-container {
    width: 95%;
    margin: 0 auto;
    padding: 10px 20px;
  }

  .link-item1, .link-item2, .link-item3 {
    height: 35px;
    padding: 6px;
  }

  .show-main-image {
    margin-top: 20px;
    text-align: center;
    width: 100%;
  }

  .show-shop-container > .shop-caption, .shop-info, .map-area, .border-sm, .show-sub-image {
    width: 100%;
  }

  .main-image {
    width: 100%;
    height: 100%;
  }

  .show-sub-image {
    padding: 10px 0;
    text-align: left;
  }

  .sub-image {
    width: 80px;
    height: 80px;
  }

  #map {
    width: 100%;
    height: 300px;
  }
}

// モバイル版対応(スマホ)
@media screen and (max-width: 470px) {
  // index, ranking画面
  .shop-container {
    width: 95%;
    margin: 0 auto;
    padding: 20px 10px;
  }

  .shop-caption {
    font-size: 12px;
    color: #595960;
  }

  // show画面
  .sub-image:last-child {
    display: none;
  }

  #map {
    width: 100%;
    height: 280px;
  }
}