// Place all the styles related to the member::tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// indexページ
.tweet-container {
  width: 80%;
  display: flex;
  margin: 0 auto;
}

.main-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 0 20px 20px;
  padding: 0 30px 30px;
}

.tweet-box {
  width: 300px;
  height: 300px;
  padding: 8px;
  margin: 30px 25px 0;
  border: solid 2px #d2b48c;
  border-radius: 3px;
  box-shadow: 3px 3px 3px 3px #faebd7;
}

.tweet-box:nth-child(3n) {
  margin-right: 0;
}

.tweet-top {
  margin-top: 3px;
  font-weight: bold;
  font-size: 15px;
  color: #4e454a;
}

.tweet-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.member-info {
  margin-left: 0;
}

.tweet-profile-image {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.member-name {
  font-size: 14px;
}

.member-name:hover {
  color: #6c3524;
}

.tweet-image {
  width: 280px;
  height: 210px;
  border-radius: 5px;
}

.tweet-date {
  font-size: 13px;
  color: #736d71;
  text-align: right;
}

// show画面
.show-tweet-content {
  width: 70%;
  display: flex;
  margin: 30px auto 30px;
  // padding: 20px;
  border: solid 2px #d2b48c;
  border-radius: 3px;
}

.show-tweet-box {
  width: 100%;
  display: flex;
  padding: 20px;
}

.show-tweet-left {
  width: 30%;
  font-size: 13px;
  color: #736d71;
}

.show-tweet-center {
  width: 40%;
}

.show-tweet-title {
  padding-left: 20px

}

.show-tweet-right {
  width: 30%;
}

// モバイル版対応
@media screen and (max-width: 600px) {
  // indexページ
  .tweet-container {
    width: 100%;
    display: flex;
    margin: 0 auto;
  }

  .main-content {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
    padding: 0;
  }

  .tweet-box {
    width: 250px;
    height: 260px;
    padding: 8px;
    margin: 10px 10px;
    border: solid 2px #d2b48c;
    border-radius: 3px;
    box-shadow: 3px 3px 3px 3px #faebd7;
  }

  .tweet-box:nth-child(4n) {
    margin-left: 20px;
  }

  .tweet-box:nth-child(2n) {
    margin-right: 10px;
  }

  .tweet-top {
  font-weight: bold;
  font-size: 15px;
  color: #4e454a;
  }

  .tweet-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .member-info {
    margin-left: 0;
  }

  .tweet-profile-image {
    width: 22px;
    height: 20px;
    border-radius: 50%;
  }

  .member-name {
    font-size: 12px;
  }

  .member-name:hover {
    color: #6c3524;
  }

  .tweet-image-box {
    border-radius: 3px;
  }

  .tweet-image {
    width: 100%;
    height: 180px;
  }

  .tweet-date {
    font-size: 13px;
    color: #736d71;
    text-align: right;
  }

}