// Place all the styles related to the member::tweets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// .a {

//   box-sizing: border-box;
//   color: #FFF;
//   font-size: 5rem;
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 100%;
//   padding: 5%;

//   // width: 100%;
//   width: 100%;
//   height: 250px;
//   background-attachment: fixed;
//   background-position: center;
//   background-size: cover;
//   background-repeat: no-repeat;
//   background-image: image-url("pudding.jpg");
//   background-repeat: no-repeat;
//   // background-attachment: scroll;
//   // background-attachment: scroll;
//   // background-size: cover;

// }

// indexページ
.tweet-container {
  width: 80%;
  // // min-height: 100vh;
  display: flex;
  margin: 0 auto;
}

// .tweet-container > .sidebar {
//   width: 250px;
//   justify-content: left;
//   margin-right: 10px;
//   background-color: #fdede4;
// }

.main-content {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  margin: 20px;
  padding: 30px;

}

.tweet-box {
  width: 300px;
  height: 300px;
  padding: 8px;
  margin: 20px 40px 20px 0;
  border: solid 2px #d2b48c;
  border-radius: 3px;
  // box-shadow: 0 10px 25px 0 rgba(251, 236, 216, 0.7);
  box-shadow: 3px 3px 3px 3px #faebd7;
}


// .tweet-image {
// }
// .tweet-box:nth-child(3n) {
//   margin-right: 0;
// }

.tweet-top {
  font-weight: bold;
}

.tweet-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.member-info {
  margin-left: 0;
}

.tweet-image {
  border-radius: 3px;
}

.tweet-date {
  font-size: 13px;
  color: #898989;
  text-align: right;
}



// showページ
.tweet-container > .show-content {
  flex: 1;
}