<h3 class="page-heading">Profile</h3>
<div class="withdrawal-page">
 <p>退会確認画面</p>
 <p class="profile-text">
   退会手続きをされますと、全てのサービスがご利用いただけなくなります。<br>
   再度ご利用をいただく場合には、新規登録のお手続きが必要になります。<br>
   本当に退会してよろしいですか？
 </p>
 <div class="withdrawal-btn-area">
  <%= link_to "退会する", withdrawal_path, method: :patch, data: { confilm: "本当に退会しますか？" }, class: "withdrawal-btn" %>
  <%= link_to "退会しない", member_path(current_member), class: "no-withdrawal-btn" %>
 </div>
</div>