/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";
@import 'font-awesome-sprockets';
@import 'font-awesome';
@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.list ul {
  height: 80px;
  text-align: right;
  margin-right: 30px;
}

.list ul li {
  display: inline-block;
  height-line: center;
  
}

header {
  width: 100%;
  height: 80px;
  background-color: #c2894b;
}

a {
  text-decoration: none;
  color: #000;
}

a:hover {
  text-decoration: none;
}

footer {
  width: 100%;
  height: 60px;
  background-color: #c2894b;
}
