// Place all the styles related to the contacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//new、thanks画面
.contact-bg-image {
  background-image: image-url("cafe-table");
  background-size: cover;
  background-position: bottom 30px right 100px;
}

.contact-image-cover {
  height: 600px;
  background-color: rgba(255, 255, 255, 0.2);
}

.contact-container {
  float: right;
  margin-right: 150px;
}

.contact-box {
  width: 600px;
  padding-top: 80px;
}

.contact-heading {
  text-align: center;
  margin-bottom: 25px;
  font-size: 28px;
  color: #fff;
}

.contact-label{
  color: #fff;
}

.contact-form {
  width: 400px;
  border-radius: 3px;
  border-color: #fff;
}

.contact-box > textarea {
	resize: none;
	width: 600px;
	height: 400px;
}

.contact-btn {
  width: 150px;
  height: 30px;
  margin: 20px 0 0 125px;
  border-radius: 3px;
  border-color: #fff;
  background-color: #fff;
}

//thanks画面
.contact-image-cover {
  position: relative;
}

.thanks-box {
  position: absolute;
  top: 180px;
  right: 150px;
  padding: 30px 40px;
  background-color: rgba(115, 78, 48, 0.3);
}

.thanks-text {
  font-size: 18px;
  line-height: 2;
  color: #fff;
}