.top-image {
  width: 1000px;
  height: 700px;
  background-image: image-url("top.png");
  background-size: cover;
  margin: 0 auto;
}

.concept {
  font-size: 22px;
  color: #6B4B39;
  text-align: center;
  margin: 100px 0;
}

.genre-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box {
  margin: 8px;
}

.box:nth-child(1) {
  margin-right: 16px;
}

.genre-name {
  text-align: center;
}