.top-container {
  position: relative;
}

.top-image1, .top-image2, .top-image3 {
  height: 550px;
  margin: 50px 0;
  background-size: cover;
}

.top-image1 {
  background-image: image-url("pudding.jpg");
}

.top-image2 {
  background-image: image-url("milk.jpg");
}

.top-image3 {
  background-image: image-url("macarons.jpg");
}

.site-name {
  position: absolute;
  top: 100px;
  left: 115px;
  font-size: 75px;
  font-family: 'Nanum Myeongjo', serif;
  color: #fff;
}

.site-name-brown {
  color: #d2b48c;
}

.concept-text {
  position: absolute;
  padding: 30px;
  bottom: 150px;
  text-align: center;
  right: 30px;
  color: #fff;
  font-family: "Hannari";
  background-color: rgba(115, 78, 48, 0.3);
}

.search-content {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 80px;
}

.search-form {
  width: 560px;
  height: 42px;
  padding: 0 10px 0 10px;
  border-radius: 3px;
  border-color: #fff;
}

.search-btn {
  position: relative;
  width: 36px;
  height: 36px;
  background-color: #fff;
  border-radius: 3px;
  border-color: #fff;
  color: #996633;
}

.fa-search {
  position: absolute;
  top: 8px;
  left: 8px;
}

.search {
  margin: 30px;
}

.genre-search {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  margin-bottom: 50px;
}

.genre-box {
  position: relative;
  margin: 8px;
}

.genre-image {
  width: 100%;
  height: 100%;
}

.genre-name {
  position: absolute;
  width: 100%;
  text-align: center;
  line-height: 50px;
  top: 60px;
  font-size: 25px;
  font-weight: bold;
  color: #fff;
  font-family: "Hannari";
}
