// Place all the styles related to the Members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// show画面
.my-page {
  width: 70%;
  display: flex;
  margin: 30px auto 10px;
  padding: 20px;
  border: solid 2px #d2b48c;
  border-radius: 3px;
}

.my-page-left {
  width: 30%;
  height: 180px;
}

.profile-heading {
  padding: 0 6px 10px 35px;
}

.profile-image {
  text-align: center;
  font-size: 14px;
  color: #898989;
}

.fa-wrench, .fa-comment, .fa-bookmark, .fa-apple-alt {
  font-size: 14px;
  color: #898989;
}

.fa-wrench:hover, .fa-comment:hover, .fa-bookmark:hover, .fa-apple-alt:hover {
  color: #de82a7;
}

.my-page-right {
  position: relative;
  width: 70%;
  height: 180px;
  padding: 0 10px;
}

.profile-title {
  font-size: 15px;
}

.profile-text {
  font-size: 14px;
  color: #898989;
}

.icon {
  position: absolute;
  bottom: 0;
  margin: 0;
  padding: 0;
}

// edit画面
.edit-profile {
  width: 70%;
}

.edit-profile-form {
  width: 100%;
  padding: 3px;
  border-radius: 3px;
}

.edit-profile-btn {
  display: block;
  width: 150px;
  height: 30px;
  margin: 20px auto;
  border-radius: 3px;
  border-color: #f6e5cc;
  background-color: #f6e5cc;
}

.edit-profile-btn:hover {
  background-color: #ffe9a9;
}

.next-withdrawal-btn {
  margin: 0;
  padding: 2px 5px;
  background-color: #fff;
}

.next-withdrawal-btn:hover {
  color: #000;
  background-color: #ef857d;
}

// unsubscribe
.withdrawal-page {
  width: 70%;
  margin: 30px auto 10px;
  padding: 20px;
  border: solid 2px #d2b48c;
  border-radius: 3px;
}

.withdrawal-btn-area {
  margin-top: 20px;
}

.review-edit-btn, .review-destroy-btn {
  margin: 0 20px;
  padding: 4px 8px;
  border-radius: 3px;
  border: solid 1px #595960;
  font-size: 12px;
}

.no-withdrawal-btn {
  padding: 4px 8px;
  font-size: 14px;
  border-color: #000;
  border-radius: 3px;
  background-color: #a3d6cc;
}

.withdrawal-btn {
  padding: 4px 8px;
  font-size: 14px;
  border-color: #000;
  border-radius: 3px;
  background-color: #ef857d;
}

.no-withdrawal-btn, .withdrawal-btn:hover {
  color: #000;
}

.no-withdrawal-btn:hover {
  color: #fff;
  background-color: #2cb4ad;
}

.withdrawal-btn:hover {
  color: #fff;
  background-color: #ea5550;
}

// follow画面
.follow-page {
  width: 70%;
  margin: 30px auto 10px;
  // padding: 20px;
  // border-bottom: solid 2px #d2b48c;
  // border-radius: 3px;
}

.follow-list {
  width: 100%;
  display: flex;
  margin-bottom: 10px;
  border-bottom: solid 2px #d2b48c;
}

.follow-left {
  width: 10%;
}

.follow-center {
  width: 70%;
  // display: flex;
  // align-items: center;
}

.profile-text-name {
  font-size: 16px;
  color: #898989;
}

.profile-text-name:hover {
  color: #000;
}

.follow-right {
  width: 20%;
  display: flex;
  align-items: center;
}

.follows-btn {
  padding: 2px 6px;
  margin: 0 auto;
  border-radius: 3px;
  border: solid 1px #e8d3ca;
  box-shadow: 3px 2px 0 0 #d2b48c;
  color: #898989;
}

.follows-btn:hover {
  color: #000;
  box-shadow: 4px 3px 0 0 #d2b48c;
}